{{#if select.selected}}
  {{#if selectedItemComponent}}
    {{component selectedItemComponent option=(readonly select.selected) select=(readonly select)}}
  {{else}}
     <span class="ember-intl-phone-input__icon-flag">
       <img src="/assets/flags/{{select.selected.country}}.png">
     </span>
  {{/if}}
{{/if}}