<span class="ember-intl-phone-input__icon-flag">
  <img src="/assets/flags/{{country.country}}.png">
</span>

<strong class="ember-intl-phone-input__option-name">{{country.name}}</strong>
<span class="ember-intl-phone-input__option-code">+{{country.callingCode}}</span>